body {
  font-size: 1em;
  color: #222;
  padding: 0 10px;
  font-family: "Bookman Old Style", /* Windows, MacOS */ "Serifa BT",
    /* Windows XP. Not the same font, but the overall look is close enough. */
      "URW Bookman L",
    /* Unix+X+FontConfig */ "itc bookman",
    /* Unix+X */ /* Fallback options */ times, /* Unix+X, MacOS */ serif;
}

.wrapper {
  display: flex;
}

.main,
.sidebar {
  padding: 15px;
}

.main {
  width: 60%;
  max-width: 700px;
  /* height: 150vh; */
}

.sidebar {
  display: block;
  width: 25%;
  position: -webkit-sticky;
  position: sticky;
  max-height: calc(100vh - 20px);
  top: 20px;
  overflow-y: auto;
}

body {
  font-family: sans-serif;
  padding: 10px;
}

.sidebar {
  line-height: 1.2em;
}

.sidebar ul {
  list-style: none;
  margin-left: 5px;
  padding-left: 5px;
}
