name: CI
on:
  push:
    branches:
      - main
  pull_request:
jobs:
  checks:
    name: Scalafmt
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v2
      - uses: olafurpg/setup-scala@v12
      - run: ./bin/scalafmt --test
  docs:
    name: Website
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v2
        with:
          fetch-depth: 0
      - uses: olafurpg/setup-scala@v12
      - run: sbt '++2.12.14 docs/mdoc'
  test-windows:
    name: "Windows"
    runs-on: windows-latest
    steps:
      - uses: actions/checkout@v2
      - uses: olafurpg/setup-scala@v12
        with:
          java-version: adopt@1.11
      - run: sbt '++2.13.5 test'
        shell: bash
  test:
    name: ${{ matrix.command }} ${{ matrix.java }}
    runs-on: ubuntu-latest
    strategy:
      fail-fast: false
      matrix:
        java: [adopt@1.8, adopt@1.11]
        command:
          - "'++2.11.12 test'"
          # Test legacy Scala versions, where reporting API changed
          - "'++2.12.12 test'"
          - "'++2.12.14 test' scripted"
          - "'++2.13.6 test'"
          - "'++3.0.1 test'"
    steps:
      - uses: actions/checkout@v2
      - uses: olafurpg/setup-scala@v12
        with:
          java-version: ${{ matrix.java }}
      - run: sbt ${{ matrix.command }}
