name: CI
on:
  push:
    branches:
      - main
  pull_request:
jobs:
  checks:
    name: Scalafmt
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v3
      - uses: olafurpg/setup-scala@v14
      - run: ./bin/scalafmt --test
  docs:
    name: Website
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v3
        with:
          fetch-depth: 0
      - uses: olafurpg/setup-scala@v14
      - run: sbt '++2.12.17 docs/mdoc'
  test-windows:
    name: "Windows"
    runs-on: windows-latest
    steps:
      - uses: actions/checkout@v3
      - uses: olafurpg/setup-scala@v14
        with:
          java-version: adopt@1.11
      - run: sbt '++2.13.10 test'
        shell: bash
  test:
    name: ${{ matrix.command }} ${{ matrix.java }}
    runs-on: ubuntu-latest
    strategy:
      fail-fast: false
      matrix:
        java: [adopt@1.8, adopt@1.11, 17]
        command:
          # Test legacy Scala versions, where reporting API changed
          - "'++2.12.12! test'"
          - "'++2.12.17 test'"
          - "'++2.13.10 test'"
          # Minimal supported version
          - "'++3.1.3 test'"
          - "scripted"
    steps:
      - uses: actions/checkout@v3
      - uses: olafurpg/setup-scala@v14
        with:
          java-version: ${{ matrix.java }}
      - run: sbt ${{ matrix.command }}
